.menu {
    width: 200px;
    height: 200px;
    background-color: red;
    position: fixed;
    left: 50px;
    top: 50px;
    transition: 0.3s;
}

.menu.click {
    background-color: yellow;
    left: 250px;
    top: 50px;
}